# Mutation Test Report

* **Mutation Score**: 92%
* **Total Mutants**: 50
* **Killed Mutants**: 46
* **Survived Mutants**: 4
